*{
    margin: 0;
    padding: 0;
    outline: 0;
}

body{
    background-color: bisque;
}

.container{
    
    width: 30%;
    background: #fff;
    margin: auto;
    padding: 24px;
}
img{
    height: 120px;
    width: 120px;
    border-radius: 50%;
    margin-bottom: 32px;
    visibility: hidden;
}

.title{
    color: rgb(192, 192, 255);
    font-weight: 500;
    font-size: 13px;
    margin-bottom: 2px;
}

.description{
    margin-bottom: 10px;
}

hr{
    border: none;
    border-bottom: 0.5px solid rgb(241, 235, 235);
    margin-bottom: 16px;
}

a{
    text-decoration: none;
    background-color: rgb(151, 151, 254);
    color: #fff;
    text-transform: uppercase;
    width: 100%;
    display: inline-block;
    text-align: center;
    padding: 10px 0;
    font-size: 12px;
    border-radius: 50px;
}

.bt-color{
    color: #C4E1F8;
}