@font-face{
    font-family: "Alinur";
    src: url("./fonts/Alinur_Nakkhatr.ttf");
}

h1{
    text-shadow: -2px -5px 8px green;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-style: italic;
    font-size: 3vw;
}

div{
    background-color: brown;
    color: white;
    /* font-variant: small-caps; */
    font-weight: 900;
    /* font-family: "Dancing Script", cursive; */
}

p{
    font-size: 50px;
    font-family: "Alinur", cursive;
    
}