.box{
    height: 100px;
    width: 100px;
    background-color: orange;
    /* transition-property: height, width;
    transition-duration: 5s;
    transition-delay: 1s;
    transition-timing-function: cubic-bezier(0,.7,1,.6); */

    transition: all 2s ease-in 1s;
}

.box:hover{
    height: 300px;
    width: 300px;
    background-color: red;
}

.box2{
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
   
    height: 100px;
    width: 100px;
    background-color: orangered;
    transition: all 0.5s ease-in 1s;
}

.box2:hover{
    /* transform: rotate(180deg); */
    /* transform: scale(3); */
    /* transform: rotateZ(-40deg); */
    transform: matrix(1, -0.3, 0, 1, 0, 0);
}

.box3{
    text-align: justify;
    /* column-count: 3; */
    column-width: 200px;
    column-gap: 50px;
    /* column-rule-color: brown;
    column-rule-style: double;
    column-rule-width: 3px; */
    column-rule: 2px solid gray;
}

.box3 >  h3 {
    column-span: all;
}

#gallery{
    width: 100%;
    min-height: 100vh;
}

.gallery-items{
    width: 80%;
    margin: 50px auto;
    display: flex;
    flex-wrap: wrap;
    row-gap: 15px;
    justify-content: space-between;
}

.gallery-items > .item{
    width: 24%;
    height: 200px;
    overflow: hidden;
    
}

.gallery-items > .item:hover > img{
    transform: scale(1.3);
}

.gallery-items > .item > img{
    width: 100%;
    height: 100%;
    transition: all 0.5s;
}

